@font-face {
    font-family: "Lemonada";
    src: url("../rsschool-cv/fonts/Lemonada-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lemonada";
    src: url("../rsschool-cv/fonts/Lemonada-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}