html {
    font-family: 'Lemonada';
    font-size: 16px;
    color: #898789;
    text-align: justify;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    color: #faba0e;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: rgb(73, 74, 78);
}

h3 {
    color: rgb(73, 74, 78);
    margin-bottom: 10px;
}

p {
    line-height: 1.2rem;
}

a {
    text-decoration: none;
    color: #898789;
    cursor: pointer;
}

a:hover {
    color: #faba0e;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
}

.container__left {
    width: 30%;
    background-color: #fbfbfb;
}

.container__right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-header {
    margin-top: 30px;
}

.page-header__photo {
    width: 70%;
}

.page-header__photo img {
    width: 100%;
    border-radius: 50%;
}

.main-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #898789 1px;
}

.main-info__social {
    display: flex;
}

.social-link {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.icon {
    width: 100%;
}

.icon path {
    fill: #898789;
}

.icon:hover path {
    fill: #faba0e;
}

.contacts {
    margin-top: 20px;
    width: 70%;
}

.page-header .container:last-child {
    flex-direction: row-reverse;
}

.contacts__list {
    display: flex;
}

.contacts__list-item {
    width: 33%;
}

.summary,
.skills, 
.experience,
.code-examples, 
.education, 
.english {
    margin-top: 30px;
}

.skills__list-item {
    margin-bottom: 10px;
}

.skills__list-item:last-child {
    margin-bottom: 0;
}

.skills__skill-description {
    display: flex;
}

.cur-progress {
    margin-right: 5px;
    color: #faba0e;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border: 3px solid #898789;
}

.progress-bar_html {
    background: linear-gradient(to right, #faba0e 80%, #898789 80% 100%);
}

.progress-bar_css {
    background: linear-gradient(to right, #faba0e 80%, #898789 80% 100%);
}

.progress-bar_corejs {
    background: linear-gradient(to right, #faba0e 70%, #898789 70% 100%);
}

.progress-bar_sass {
    background: linear-gradient(to right, #faba0e 30%, #898789 30% 100%);
}

.progress-bar_bem {
    background: linear-gradient(to right, #faba0e 30%, #898789 30% 100%);
}

.progress-bar_git {
    background: linear-gradient(to right, #faba0e 30%, #898789 30% 100%);
}

.code-examples__list {
    display: flex;
}

.code-examples__list-item {
    width: 50%;
}

.code-examples__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-examples__link span {
    margin-bottom: 20px;
}

.code-examples__img {
    height: 200px;
    width: 200px;
}

.icon_git {
    margin-top: -14px;
}

.page-footer {
    margin-top: 30px;
}

.page-footer__contacts {
    width: 100%;
    border-top: solid #898789 1px;
}

.page-footer__contacts-list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
    